.containerContent {
  width: 400px;
  height: 379px;
  margin-top: calc(100% / 2 - 240px);
}

@media screen and (max-width: 920px) {
  .containerContent {
    width: 300px;
  }
}

@media screen and (max-width: 630px) {
  .containerContent {
    width: 280px;
  }
}
