.containerAbout {
  width: 100vw;
  height: 100vh;
  max-height: 900px;
  /* opacity: 0.4; */
  position: relative;
}

/* @media screen and (max-width: 920px) {
  .containerAbout {
    width: 250px;
  }
} */

/* @media screen and (max-width: 630px) {
  .containerAbout {
    width: 300px;
  }
} */
